*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


body{
    background-color: #333;
}

.title{
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    color: white;
    background-color: #222;
}

.container{
    width: 70vw;
    margin: 0 auto;
}

.image-container{
    margin-bottom: 1rem ;
    padding-bottom: 1rem ;
    border-bottom: 1px solid white;
}

.image-container img{
    display: flex;
    margin: 2rem auto 1rem;
    width: 1000px;
    height: 1000px;
}

.image-container p {
    text-align: center;
    font-weight: bold;
    color: #fff;
}